<h2 class="text-center"><% if user_signed_in? %>My <% end %>AddressBook</h2>
<div class="col-md-6 col-md-offset-3">
  <div class="account-wall">
    <div class="account-form">
      <% if user_signed_in? %>
          <div class="list-group">
            <% @users.each do |user| %>
                <% url = users_path(user) %>
                <% puts url.split(".") %>
                <%= link_to user.email, "users\/#{url.last}\/edit", :class=>"list-group-item" %>
            <% end %>
          </div>

          <%= link_to('Add new user', new_user_unlock_path, class:"btn btn-default btn-sm") %>

          <br><br><br>
          <hr>

      <% else %>
          <div class="text-center">
            <h1>Welcome!</h1>
            <p>Register to get started.</p>
            <p>
              <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
            </p>
          </div>
      <% end %>
    </div>
  </div>
</div>
