<h1 class="text-center">Editing Address</h1>
<div class="col-md-6 col-md-offset-3">
  <div class="account-wall">
    <div class="account-form">
      <%= render 'form', address: @address %>

      <br><br>
      <hr>

      <%= link_to 'Back', @address %>
    </div>
  </div>
</div>